.Checkout{
  padding: 20px 10px;
  display: grid;
  grid-template-columns: minmax(auto, 576px);
  justify-content: center;
  gap: 15px;
  
  @media screen and (min-width: 768px){
    padding: 20px;
    grid-template-columns: 1fr minmax(100px, 400px);
  }
  
  &__list{
    display: grid;
    gap: 10px;
    
    @media screen and (min-width: 768px){
      grid-template-columns: minmax(100px, 500px);
      justify-self: end;
    }
  }
  
  &__bill{
    padding: 20px;
    border-radius: 10px;
    background-color: $item-color;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px, rgba(0, 0, 0, 0.1) 0px -1px 2px 0px;
    align-self: start;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 5px;
    
    button{
      padding: 10px;
      width: 100%;
      font-weight: 700;
    }
  }
}
